@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* COLORES */
:root {
    --ginda-color: #691b31;
    --rojo-color: #A02142;
    --negro-color: #545454;
    --gris-color: #98989A;
    --dorado-color: #BC955B;
    --beige-color: #DDC9A3;
    --blanco-color: #FFFFFF;
    --fondo-color: #F5F5F5;
}

/* ================= GLOBAL ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body {
    background: var(--fondo-color);
}

.simple-linear {
    min-height: 100vh;
    background: linear-gradient(180deg, #691b31, #A02142);
}

.form-subtitle {
    color: var(--dorado-color);
    font-weight: 700;
}

/* ================= HEADER ================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 60px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--ginda-color);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 250px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.acciones-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icono,
.menu-toggle {
    border: none;
    background: none;
    color: var(--blanco-color);
    cursor: pointer;
}

.icono {
    font-size: 20px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--blanco-color);
}

.perfil-icono {
    font-size: 28px;
}

/* ================= SIDEBAR ================= */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;
    width: 220px;
    height: calc(100vh - 60px);
    padding: 8px;
    overflow-y: auto;
    background: var(--ginda-color);
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
    border-radius: 4px;
    color: var(--blanco-color);
    text-decoration: none;
    font-size: 18px;
}

.sidebar a.active {
    background: var(--rojo-color);
    font-weight: 600;
    width: 100%;
}

.sidebar a:hover {
    background: #a021437d;
    width: 100%;
}

.submenu {
    margin-left: 4px;
    list-style: none;
}

.submenu li {
    margin: 0;
}

.submenu i {
    color: var(--blanco-color);
}

.submenu-item {
    display: flex;
    margin-top: 5px;
    margin-left: 24px;
    flex-direction: column;
}

/* ================= CONTENT ================= */
.content {
    width: calc(100% - 220px);
    min-height: calc(100vh - 60px);

    margin-top: 60px;
    margin-left: 220px;
    padding: 25px;

    transition: 0.3s;
}

/* ================= MAIN ================= */
.main {
    width: 100%;
    min-height: 100vh;
    padding: 120px 40px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.login-image {
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.login-text {
    width: 500px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

/* ================= TIPOGRAFIA ================= */
h1 {
    color: var(--blanco-color);
    font-size: 60px;
}

h2 {
    color: var(--blanco-color);
}

h3 {
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 500;
    color: var(--negro-color);
    margin-bottom: 5px;
}

.text-white {
    color: var(--blanco-color);
}

/* ================= FECHAS ================= */
.fecha-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ================= CARDS ================= */
.login-card { 
    width: 100%;
    max-width: 450px;
    padding: 30px; 
    border-radius: 15px; 
    background-color: var(--blanco-color); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
} 

.card-body {
    display: flex;
    flex-direction: column; 
} 

.cards-municipio,
.cards-revision,
.cards-historial {
    width: 100%;
    padding: 16px;
    background-color: var(--dorado-color);
    border-radius: 4px;
}

.cards-municipio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.cards-revision {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.cards-historial {
    display: grid;
    gap: 8px;
}

.cards-revision .card-municipio {
    width: 100%;
    max-width: none;
}

.card-municipio,
.card-number {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: var(--blanco-color);
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
    border: 1px solid var(--ginda-color);
}

.card-municipio {
    margin-left: auto;
    display: block;
}

.card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-grafico {
    background: var(--blanco-color);
    border: 1px solid  var(--ginda-color);
    padding: 20px;
    border-radius: 4px;
}

.card-contenedor {
    width: 99%;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    background-color: var(--blanco-color);
    box-shadow: 0 0 2px var(--gris-color);
}

.card-header {
    margin-bottom: 5px;
    color: var(--rojo-color);
}

.card-title,
.td-title {
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--ginda-color);
}

.card-subtitle,
.td-subtitle {
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--negro-color)
}

.card-text {
    margin-bottom: 4px; 
}

.card-titles { 
    margin-bottom: 10px; 
} 
.card-historial {
    width: 100%;
    max-width: 100%;
    grid-column: 1 / -1;
}

.card-header-municipio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-body-municipio {
    margin-top: 10px;
    padding: 4px 0px;
    border-top: 1px solid #ddd;
}

.flecha {
    transition: transform .3s ease;
}

.flecha.abierta {
    transform: rotate(180deg);
}

/* ================= FORMULARIOS ================= */
.dashboard {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.dashboard-left {
    flex: 2;
}

.dashboard-right {
    flex: 1;
}

.municipio-select {
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 0;
    margin-left: 4px;
    color: var(--gris-color);
    background: var(--blanco-color);
}

.buscador {
    display: flex;
    align-items: stretch;
    margin-bottom: 15px;
}

.filtro {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.buscador-control {
    flex: 1;
    padding: 6px 12px;
    border-radius: 4px 0 0 4px;
    font-family: 'Montserrat', sans-serif;
}

.buscador-control:focus {
    border-color: var(--ginda-color);
    box-shadow: 0 0 0 0.2rem rgba(160, 33, 66, 0.25);
}

.buscador-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    border-radius: 0 4px 4px 0;
    border: none;
    background: var(--ginda-color);
    color: var(--blanco-color);
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-campo {
    margin-bottom: 15px;
}

.form-label {
    font-size: 16px;
    font-weight: 700;
    color: var(--negro-color);
}

input,
textarea {
    width: 100%;
    padding: 9px;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: none;
}

textarea {
    resize: none;
}

.form-control,
.selector-control {
    margin-top: 5px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.form-control:focus {
    border-color: var(--ginda-color);
    box-shadow: 0 0 0 0.2rem rgba(160, 33, 66, 0.25);
}

input[type="file"] {
    padding: 0;
    border: none;
    background: transparent;
}

.input-password{
    position: relative;
    width: 100%;
}

.input-password input{
    width: 100%;
    padding-right: 40px; 
}

.input-password i{
    position: absolute;
    right: 10px;
    top: 20%;
    cursor: pointer;
    color: var(--gris-color);
    font-size: 18px;
}
     
/* ================= BOTONES ================= */
.btn-primario,
.btn-negativo,
.btn-neutral,
.btn-acciones {
    background: transparent;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

.btn-primario,
.btn-negativo,
.btn-neutral {
    padding: 10px 25px;
}

.btn-acciones {
    padding: 6px;
}

.btn-login {
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--ginda-color);
    color: var(--blanco-color);
}

.btn-login:hover {
    background-color: var(--rojo-color);
}

.btn-primario {
    border: 1.6px solid var(--ginda-color);
    color: var(--ginda-color);
}

.btn-primario:hover {
    background-color: var(--ginda-color);
    color: var(--blanco-color);
}

.btn-negativo {
    border: 1.6px solid var(--dorado-color);
    color: var(--dorado-color);
}

.btn-negativo:hover {
    background-color: var(--dorado-color);
    color: var(--blanco-color);
}

.btn-neutral, .btn-acciones {
    border: 1.6px solid var(--gris-color);
    color: var(--gris-color);
}

.btn-neutral:hover, .btn-acciones:hover {
    background-color: var(--gris-color);
    color: var(--blanco-color);
}

.botones-cards {
    display: block;
    margin-left: auto;
}

.page-botones {
    display: flex;
    justify-content: flex-end;
}

.btn-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.btn-container-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    padding: 0 40px 35px;
    border: none;
}

.btn-cerrar-sesion{
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: transparent;
    text-align: left;
    cursor: pointer;
}

.btn-cerrar-sesion:hover{
    background: var(--fondo-color);
}

/* ================= ICONOS ================= */
.menu-perfil{
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    background: var(--blanco-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,.15);
    min-width: 180px;
}

i {
    font-size: 18px;
    padding: 5px;
}
/* ================= REGISTROS ================= */
.page-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--ginda-color);
}

.page-subtitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--negro-color);
}

.page-text {
    font-weight: 300;
    margin-bottom: 15px;
}

/* ================= TABLAS ================= */
.tabla-registros {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

thead tr {
    border-bottom: 1px solid #cfcfcf;
}

th {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--rojo-color);
}

.th-start {
    text-align: start;
}

td {
    padding: 15px 10px;
    font-size: 18px;
    border-bottom: 1px solid #d9d9d9;
    color: var(--negro-color);
}

.td-center {
    text-align: center;
    font-weight: 700;
}

tr {
    height: auto;
}

/* ================= ACTIVIDADES ================= */
.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 10px;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--negro-color);
    font-size: 18px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--negro-color);
    font-weight: 400 !important;
}

.radio-item input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;

    width: 13px;
    height: 13px;
    margin: 0;

    border: 2px solid var(--gris-color);
    border-radius: 50%;
    background: var(--blanco-color);

    cursor: pointer;
    outline: none;
    position: relative;
    flex-shrink: 0;
}

.radio-item input[type="radio"]:checked::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: var(--gris-color);

    transform: translate(-50%, -50%);
}

.check-item input {
    cursor: pointer;
}

.check-item input[type="checkbox"] {
    width: 13px;
    height: 13px;

    accent-color: #9c9c9c;
    filter: grayscale(100%);
}

.number {
    font-weight: 900;
    color: var(--ginda-color);
}
/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {

    .main {
        gap: 50px;
        padding: 120px 30px 40px;
    }

    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px);
        margin-left: 200px;
    }
}

@media (max-width: 768px) {

    .header {
        padding: 0 15px;
    }

    .menu-toggle {
        display: block;
    }

    .logo img {
        width: 140px;
    }

    .acciones-header {
        gap: 10px;
    }

    .main {
        flex-direction: column;
        gap: 40px;
        padding: 110px 20px 30px;
    }

    .left-content {
        max-width: 100%;
        text-align: center;
    }

    

    .card {
        padding: 25px;
    }

    .sidebar {
        top: 0;
        left: -250px;

        width: 250px;
        height: 100vh;
        padding-top: 90px;

        overflow-y: hidden;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
        padding: 20px;
    }

    .number {
        font-size: 28px;
    }

    .registro-subtitle {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .header {
        height: 70px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    .card {
        padding: 20px;
    }

    input,
    textarea,
    .mes,
    .btn1 {
        padding: 12px;
        font-size: 15px;
    }

    .botones-registro {
        flex-direction: column;
    }

    .btn-vista,
    .btn-guardar {
        width: 100%;
    }
}